@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-UI-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-UI-Bold.otf');
  font-weight: bold;
}

html,
body {
  height: 100%;
  font-family: 'Inter';
}

#root {
  height: 100%;
  border: solid 2px #f00;
}

main {
  border: solid 2px #00f;
  height: 100%;
  position: relative;
}

fieldset {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #f00;

  > legend {
    padding: 0.2rem 0.4rem;
  }

  pre {
    margin: 0;
    font-size: 0.9rem;
  }
}

.position {
  display: grid;
  height: 100%;
  border: dashed 4px #f00;

  align-items: center;
  justify-content: center;
  font-size: 8vh;
}
